h1 {
  text-align:center;
  text-decoration: underline;
  padding-block: 50px;
}

h2 {
  text-align:center;
  padding-bottom: 50px;
}

.btn {
  margin-top: 20px;
}

.bold {
  font-weight:bold;
}

#ruby {
  display: none;
  text-align: center;
}

#javascript {
  display: none;
  text-align: center;
}

#csharp {
  display: none;
  text-align: center;
}