h1 {
  text-align:center;
  padding-block: 50px;
}

h2 {
  text-align:center;
  padding-bottom: 50px;
}

#ruby {
  display: none;
  text-align: center;
}

#javascript {
  display: none;
  text-align: center;
}

#csharp {
  display: none;
  text-align: center;
}