h1 {
  text-align:center;
  text-decoration: underline;
  padding-block: 50px;
}

h2 {
  text-align:center;
  padding-bottom: 50px;
}

.card {
  align-content: center;
  margin-bottom: 300px;
  border-width: 15px;
  width:fit-content;
}

.card-header {
  margin-bottom: 20px;
  width: 50%;
  
}

.btn {
  margin-top: 20px;
}

.bold {
  font-weight:bold;
}

#ruby {
  display: none;
  text-align: center;
  margin: 25px 25px 25px 25px;
}

#javascript {
  display: none;
  text-align: center;
  margin: 25px 25px 25px 25px;
}

#csharp {
  display: none;
  text-align: center;
  margin: 25px 25px 25px 25px;
}